<h2>{{title}}</h2>
<div class="question-edit">
  <div class="form-group">
    <label for="text">Question text:</label>
    <br>
    <textarea id="text" [(ngModel)]="question.text" placeholder="Enter a suitable text..." class="form-control"></textarea>
  </div>
  <div>
    <input *ngIf="editMode" type="button" value="Apply Changes" (click)="onSubmit(question)" class="btn btn-sm btn-success"/>
    <input *ngIf="!editMode" type="button" value="Create the Question!" (click)="onSubmit(question)" class="btn btn-sm btn-success"/>
    <input type="button" value="Cancel" (click)="onBack()" class="btn btn-sm btn-default"/>
  </div>
<app-answer-list *ngIf="editMode" [question]="question"></app-answer-list>
</div>
