<h2>{{title}}</h2>
<div class="question-edit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('text') }">
      <label for="text">Question text:</label>
      <br>
      <textarea id="text" formControlName="text" placeholder="Enter a suitable text..." class="form-control"></textarea>
      <span *ngIf="hasError('text')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <div *ngIf="hasError('text')" class="help-block">
        Text is a required field: please insert a valid text.
      </div>
    </div>
    <div>
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid" class="btn btn-sm btn-success">
        Apply Changes
      </button>
      <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" class="btn btn-sm btn-success">
        Create the Question!
      </button>
      <button *ngIf="!editMode" type="button" (click)="onBack()" class="btn btn-sm btn-default">
        Cancel
      </button>
    </div>
  </form>
  <app-answer-list *ngIf="editMode" [question]="question"></app-answer-list>
</div>
